.table-hover-selection tbody tr {
	cursor: pointer;
}

#loader {
	position: absolute;
	left: 50%;
	margin-left: -16px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-10 {
	margin: 10px;
}

.row-footer {
	margin: 0px 5px 25px 5px;
}

.import.fa-download {
	color: #337ab7;
	margin: 10px 5px 0px 0px;
}